.footer {
    display: flex;
    align-items: center;
    min-height: 40px;
    background-color: #414141;
  }
  
  .footer-wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .netflix {
    margin: 25px 0;
    padding-top: 50px;
    color: #f55263;
}